<?xml version="1.0" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>INSO CHDC</display-name>

    <servlet>
        <servlet-name>ChdcApplication</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>

        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>chdc.server.ChdcApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChdcApplication</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>


    <!-- The ChdcDatabaseFilter commits any pending transactions at the end of the request
         and releases this request's connection to the connection pool -->
    <filter>
        <filter-name>ChdcDatabaseFilter</filter-name>
        <filter-class>chdc.server.ChdcDatabaseFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ChdcDatabaseFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>